.recycled {
  .recycled_img {
    background-image: url(../images/calc_recycled.png);
    width: 76px;
    height: 88px;
  }
  .recycled_text {
    font-size: 0.8em;
    font-weight: bold;
    width: 60%;
  }
}
